.flex-container{

 display:flex; 
 height: 100px;
 align-content: center;
 flex-wrap: wrap;
} 
  div {
    height: 100px;
    border: 2px solid rgb(0, 0, 0) ;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
}